@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.HeroSection)Model.Content;
}

<section class="hero-container">
	<div class="hero-img-container">
		@if (content.HeroBgImage != null)
		{
		<img src="@content.HeroBgImage.Url()" />
		}

	</div>

	<div class="hero-info-container">
		<div class="hero-info">
			<h1 class="hero-title font-bold text-rte-xl text-main">@content.HeroTitle</h1>
			<div class="text-rte-s text-main font-regular">@Html.Raw(content.HeroText)</div>
			@if (content.HeroLink != null)
			{
				<a class="hero-btn font-bold text-sub-1" href="@content.HeroLink.Url">@content.HeroLink.Name</a>
			}
		</div>
	</div>


</section>