@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectionColor = settings?.ServiceBgColor?.Color ?? "#ffffff";

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section>
    <div>
        <div class="pt-1">
            @if (settings!.ShowServiceLabel)
            {
                <h2>@content.ServiceLabel</h2>
            }
            
            <div>@Html.Raw(content.ServiceTitle)</div>
        </div>
        <div class="services-container">
            @if (items.Any())
            {
                @foreach(var item in items)
                {
                    <div class="services-card">
                        <a href="@item.Url()">
                            <h4 class="services-card-info text-rte-m text-main">@item.Name</h4>
                            <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/Service-Risk-Managment.svg")" alt="Risk Management" />
                            <p class="services-card-info text-body text-rte-xs">@item.ServiceDetailExcerpt</p>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No Services Available</p>
            }
            
        </div>
        <div class="paging-container">
            <p class="text-white-100">Prev</p>
            <p class="paging text-gray-400">1</p>
            <p class="text-gray-400">2</p>
            <p class="text-gray-400">Next</p>
        </div>
    </div>
</section> 