@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectionColor = settings?.ServiceBgColor?.Color ?? "#ffffff";

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section>
    <div>
        <div>
            @if (settings!.ShowServiceLabel)
            {
                <h2>@content.ServiceLabel</h2>
            }
            
            <div>@Html.Raw(content.ServiceTitle)</div>
        </div>
        <div>
            @if (items.Any())
            {
                @foreach(var item in items)
                {
                    <div>
                        <a href="@item.Url()" class="">
                            <h4>@item.Name</h4>
                            <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/Service-Risk-Managment.svg")" alt="Risk Management" />
                            <p>@item.ServiceDetailExcerpt</p>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No Services Available</p>
            }
            
        </div>
    </div>
</section> 