@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TrustedSection)Model.Content;
}

<section>
    <div>
        @Html.Raw(content.TrustedTitle)
    </div>
    <div>
        @Html.Raw(content.TrustedText)
    </div>
    <div>
        @if (content.TrustedLink != null)
        {
            <a class="" href="@content.TrustedLink.Url">@content.TrustedLink.Name</a>
        }
    </div><div>
        @if (content.TrustedBgImage != null)
        {
            <img src="@content.TrustedBgImage.Url()" />

        }
    </div>
    <div>
        @if (content.TrustedImage != null)
        {
            <img src="@content.TrustedImage.Url()" />

        }
    </div>
</section>