@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TrustedSection)Model.Content;
}

<section class="trusted-container">
    <div>
        @Html.Raw(content.TrustedTitle)
    </div>
    <div class="trusted-text">
        @Html.Raw(content.TrustedText)
    </div>
    <div class="btn-2-container">
        @if (content.TrustedLink != null)
        {
            <a class="btn-2 text-rte-s font-bold text-sub-1" href="@content.TrustedLink.Url">@content.TrustedLink.Name</a>
        }
    </div>
    <div class="trusted-img-container">
        @if (content.TrustedImage != null)
        {
            <img class="trusted-img" src="@content.TrustedImage.Url()" />

        }
    </div>
</section>